@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700;800&family=Inter:wght@400;600;700;900&family=League+Spartan:wght@700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&family=Oxygen:wght@400;700&family=Space+Grotesk:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body {
  /*background-color: rgb(16, 16, 65);
  background: linear-gradient(#4965a5, #a8b1c8);
  background-repeat: no-repeat;
  background-size: cover;*/
  min-height: 100vh;
  margin: 50px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
}

.container {
  width: 1400px;
  min-height: 100vh;
  /* background-color: #edf2fb;*/
  background: linear-gradient(#546693, #0d3592);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  margin-top: 20px;
  font-size: 3.5rem;
}
#input-text,
#add-btn,
#input-date {
  outline: none;
  font-size: 1rem;
  border: none;
  padding: 10px;
  margin-top: 30px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #abc4ff;
}
#add-btn {
  width: 100px;
  padding: 10px;
  font-size: 1rem;
}

#input-text:hover,
#input-date:hover,
#add-btn:hover {
  background-color: rgb(9, 9, 61);
  color: rgb(222, 222, 231);
}

.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 5px;
  overflow: auto;
  /*color: black*/
}
.todo-item .edit-button,
.todo-item .save-button,
.todo-item .delete-button {
  width: 100px;
  font-size: 1rem;
  border: none;
  background-color: #e2eafc;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}
.todo-item .edit-button:hover,
.todo-item .delete-button:hover,
.todo-item .save-button:hover,
form > input:hover {
  background-color: #abc4ff;
  color: black;
  /*border: 2px solid rgb(9, 9, 61);
  color: rgb(35, 33, 33);*/
}
.todo-item p {
  font-size: 1.5rem;
  width: 500px;
  text-align: start;
  margin-left: 20px;
}
.todo-item input {
  width: 500px;
  text-align: start;
  margin-left: 20px;
  margin-right: 10px;
  border: none;
  background: transparent;
  padding: 5px;
  color: aliceblue;
  font-size: 16px;
}
.todo-list {
  height: 300px;
  overflow: auto;
  margin-top: 50px;
}
.edit-input {
  background-color: #abc4ff;
}
