* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body {
  /*background-color: rgb(16, 16, 65);
  background: linear-gradient(#d7e3fc, #c1d3fe);*/
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 50px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
}

.container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;*/
  width: 700px;
  height: 500px;
  background-color: #edf2fb;
}
h1 {
  color: rgb(9, 9, 61);
  margin-top: 20px;
}
form > input,
#add-btn,
.save-button,
.cancel-button {
  border: none;
  padding: 10px;
  margin-top: 30px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #abc4ff;
}
#add-btn:hover,
.save-button:hover,
.cancel-button:hover {
  background-color: rgb(9, 9, 61);
  color: rgb(222, 222, 231);
}

.todo-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  overflow: auto;
  color: black;
  /*box-shadow: 1px 1px 1px #7797e1, -1px -1px -1px #0d1f4a;
  background-color: #edf2fb;*/
}
.todo-item .edit-button,
.todo-item .save-button,
.todo-item .delete-button {
  width: 100px;
  border: none;
  background-color: #e2eafc;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}
.todo-item .edit-button:hover,
.todo-item .delete-button:hover,
.todo-item .save-button:hover,
form > input:hover {
  /*background-color: #abc4ff;
  color: rgb(222, 222, 231);*/
  border: 2px solid rgb(9, 9, 61);
  color: rgb(35, 33, 33);
}
.todo-item p {
  width: 500px;
  text-align: start;
  margin-left: 20px;
}
.todo-item input {
  width: 500px;
  text-align: start;
  margin-left: 20px;
  border: none;
  background: transparent;
  padding: 5px;
}
.todo-list {
  height: 300px;
  overflow: auto;
  margin-top: 50px;
}
